<nav>
    <div class="nav-div">
        <h1> <a href="/">My Blog</a></h1>
        <h2>Welcome</h2>
    </div>
    <ul class="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/add-blog">Add Blog</a></li>
        <li><a href="/about">About</a></li>
    </ul>
   
</nav>