<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs | add</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <h2>ADD BLOG</h2>
    <section>
        <form class="add-form" action="#" method="POST">
            <div>
                <label>Title</label>
                <input type="text" name="title" placeholder="Enter the title">
            </div>
            <div>
                <label>Short Description</label>
                <input type="text" name="short-description" placeholder="Enter the short description">
            </div>
            <div>
                <label>Description</label>
                <textarea name="description" id="" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="Save">
        </form>
    </section>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>